<!DOCTYPE html>
<html>
  <body>
    <p>{{message}}</p>
    <form action="/" method="post">
      <fieldset>
        <legend>Login</legend>

        <input type="text" id="username" name="username">
        <label for="username">Username</label><br/>

        <input type="text" id="password" name="password">
        <label for="password">Password</label><br/>

        <button type="submit">Login</button>

        <a href="/register">Register</a>

      </fieldset>
    </form>
  </body>
</html>
