<!DOCTYPE html>
<html>
  <body>
    <p>
      Text <span style="font-family: monospace">{{ token }}</span> to
      {{phoneNo}} to complete registration
    </p>
    <a href="/">Go home</a>
  </body>
</html>
